.container {
    height: 84vh;
}

.card {
    height: 100%;
}

.content {
    height: 100%;
}

textarea.row {
    height: 100%;
}

input.row {
    height: 2em;
}

.fas, .far {
    line-height: inherit;
    vertical-align: middle;
}

.fas.icon-green, .far.icon-green {
    color: #32a852;
}

.fas.icon-red, .far.icon-red {
    color: #b71c1c;
}

.fas.fa-minus-circle {
    color: #b71c1c;
}
